* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

.container {
    width: 250px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.content-left {
    flex-basis: 70%;
}

.content-right {
    flex-basis: 30%;
    text-align: end;
}

.green {
    border-bottom: solid 4px #00DBB7;
}

.blue {
    border-bottom: solid 4px #00ACEB;
}

.purple {
    border-bottom: solid 4px #6772E5;
}

.orange {
    border-bottom: solid 4px #FF5C6C;
}


@media all and (max-width: 700px) {
    .container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}