body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "PT Sans Narrow", "Roboto Condensed", "Open Sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #fdfbfb, #f9f7f8, #f4f4f5, #f0f0f2, #ebedee);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
